.layout-nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
}

.layout-nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    margin: 0 1em;
    font-size: 1rem;
}

.layout-nav a span {
    margin-left: 0.25em;
    font-size: 1.5rem;
    position: relative;
    top: 6px;
}

.layout-nav a:hover {
    border-bottom: 2px solid var(--primary-color);
}