.payment-details {
    border: 1px solid var(--border);
    width: 100%;
    padding: 2em;
    margin: 0.5em 0 1.5em 0;
    border-radius: 12px;
}

.payment-details h1 {
    color: var(--heading);
    font-weight: 500;
    font-size: 1.7rem;
    text-align: center;
}

.container {
    width: 85%;
    margin: 2em auto;
    justify-content: space-around;
    align-items: center;
}

.payment-method {
    background-image: url('../../assets/images/rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding: 3em;
    width: 45%;
    padding: 2.5em;
    border-radius: 25px;
}