.form-group {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 1em;
  border: 1px solid var(--border);
  border-radius: 12px;
  font-size: 0.9rem;
  outline: none;
}

.form-group .pass {
  padding: 0.2em 0 0.2em 1em;
}

.form-group .icon svg {
  margin-top: -0.2em;
}