.profile-page {
    padding: 0 2em;
    text-align: center;
    margin-bottom: 2em;
}

.profile-page form {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    align-items: center;
}

.input-field {
    padding: 0.75em 1em;
    font-size: 1rem;
    border-radius: 12px;
}

.input-field, select {
    width: 100%;
    border: 1px solid var(--border);
    color: var(--text);
}

.profile-page form input, select {
    border: none;
    outline: none;
    width: 100%;
}

select:focus {
    color: black;
}

.file-upload {
    grid-column: span 2;
    text-align: center;
    border: 2px dashed var(--primary-color);
    padding: 2em;
    border-radius: 10px;
    background-color: #2bafc70f;
}

.upload-box {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: white;
    width: 35%;
    margin: auto;
    padding: 1.7em;
    border-radius: 10px;
}

.upload-box img {
    margin: 0.5em 0;
}

.upload-box p {
    margin: 0.25em 0;
    font-size: 0.95rem;
}

.upload-box .upload-text {
    color: var(--primary-color);
}

.upload-box .upload-text2 {
    color: var(--text);
}

.upload-box span {
    margin-right: 0.5em;
    font-size: 1rem;
}

input[type="file"] {
    display: none;
}

.profile-page form :nth-child(7) {
    grid-column: span 2;
    width: 25%;
    margin: auto;
}

.profile-page .css-1g3ep13-control, .profile-page .css-ovqh0o-control, .profile-page .css-1kpf0e6-control, .profile-page .css-fifirx-control {
    border-radius: 12px;
    padding: 0.35em 0.7em;
}

.css-1jqq78o-placeholder {
    text-align: left;
    font-size: 0.9rem;
}

.profile-page .css-1p3m7a8-multiValue {
    background-color: #1aceef7d;
    border-radius: 50px;
    padding: 0.25em;
    margin: 0.2em;
}

.profile-page .css-v7duua {
    border-radius: 50%;
}

.uploaded-image {
  position: relative;
  display: flex;
  align-items: center;
}

.uploaded-image img {
  width: 100px; 
  height: auto;
  border-radius: 8px;
  margin: auto;
}

.remove-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: black; 
  cursor: pointer;
  font-size: 20px; 
}