.create-pkg-card {
    background-color: #1ACEEF;
    color: white;
    width: 93%;
    margin: auto;
    padding: 1em;
    border-radius: 15px;
}

.logos {
    float: right;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} 

.edit-logo {
    margin-bottom: 0.5em;
    width: 34px;
}

.del-logo {
    font-size: 2.5rem;
}

.list {
    margin: 2em;
}

.list h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.7em;
}

.list h3 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: -0.1em;
}

.list ul {
    text-align: left;
    margin: 2em 0;
    line-height: 40px;
}