.location-page {
    margin: 0.5em 0 1.5em 0;
    position: relative;
    height: auto;
}

.search-container {
    justify-content: space-between;
    flex-direction: column;
    width: 33%;
    position: absolute;
    top: 20px;
    left: 81%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.photographer-list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    border-radius: 12px;
    height: 100%;
    width: 29%;
    background-color: white;
    padding: 2em;
    border: 1px solid var(--border);
}