.location-page {
    margin: 0.5em 0 1.5em 0;
    position: relative;
    height: auto;
}

.search-container {
    flex-direction: column;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 85%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 10000;
    padding: 2em;
    border: 1px solid var(--border);
}

.search {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input--group {
    background-color: white;
    width: 80%;
    padding: 0.2em 0.5em;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--border);
}

.input--group :first-child {
    font-size: 1.2rem;
}

.search input {
    padding: 0.8em;
    border: none;
    outline: none;
}

.loc-div {
    background-color: white;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid var(--border);
}

.loc-div :first-child {
    margin-left: 0.75em;
    margin-top: 0.75em;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.date-container {
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
}

.date-group {
    width: 48%;
    padding: 0.9em 1em;
    border-radius: 10px;
    font-size: 0.85rem;
    background-color: white;
    outline: none;
    color: var(--text);
    border: 1px solid var(--border);
}

.date-group :nth-child(2) {
    color: var(--text);
    font-size: 1rem;
}

.name {
    border: 1px solid var(--border);
    padding: 0 1em 0 0.5em;
    border-radius: 10px;
    color: var(--text);
}

.search-by-category {
    align-items: center;
}

.search-by-category select {
    width: 100%;
    border: 1px solid var(--border);
    padding: 0.5em 1em;
    outline: none;
    border-radius: 8px;
}

.loader {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    margin: 4em auto;
    color: var(--text);
}

.msg {
    padding: 1em;
    font-size: 0.75rem;
    color: var(--text);
    text-align: center;
}

.msg h3 {
    font-weight: 500;
}