.text {
    padding: 2em;
    width: 70%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text h1 {
    color: #120D26;
    font-size: 2rem;
    font-weight: 500;
    width: 70%;
    margin-left: 0.7em;
    margin-bottom: 0.5em;
}

.text a {
    width: 65%;
}