#upload-photos {
    padding: 2em 4em;
    margin: 2em 0;
}

.upload-section {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 35%;
    margin: auto;
    padding: 1.7em;
}

.upload-section img {
    margin: 0;
}

.upload-section p {
    margin: 0.25em 0;
    font-size: 0.95rem;
}

.upload-section .upload-text {
    color: var(--primary-color);
}

.upload-section span {
    margin-right: 0.5em;
    font-size: 1rem;
}

.upload-pics {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.upload-pics p {
    font-size: 0.8rem;
    color: var(--text);
}

.upload-pics .pics-text {
    margin-top: 0.5em;
    font-weight: 600;
    color: var(--heading);
}

.upload-pics span {
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 600;
}

.header-section {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-section h3 {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.13rem;
}

.category {
    width: 25%;
}

.category1 {
    width: 100%;
    margin: 1em 0;
}

.upload-pictures-div {
    border: 1px solid var(--border);
    width: 28%;
    margin: auto;
    border-radius: 12px;
    padding: 2em;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: white;
}