.layout {
    flex-direction: row;
}

.text-portion {
    width: 50%;
}

nav {
    padding: 2em;
    width: 100%;
}

nav img {
    width: 53px;
}

.img-portion {
    background-color: var(--primary-color);
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-portion img {
    width: 300px;
}