.video-card {
    width: 85%;
    margin: auto;
    position: relative;
    cursor: pointer;
}

.video-card video {
    width: 100%;
    border-radius: 10px;
    max-height: 170px;
    min-height: 100px;
}