.photographer-profile {
    border: 1px solid var(--border);
    border-radius: 12px;
    flex-direction: column;
}

.header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 1em auto 0.5em auto;
}

.header img {
    width: 110px;
}

.header h2 {
    color: var(--heading);
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0.2em 0;
}

.header p {
    font-size: 1.1rem;
    color: var(--text);
    font-weight: 400;
    margin-bottom: 0.1em;
}

.header p span {
    font-weight: 0.95rem;
    margin: 0 0.2em;
}

.header p :first-child {
    color: #FBBE47;
}

.header p :nth-child(2) {
    color: var(--heading);
    font-weight: 700;
}

.header p :nth-child(3) {
    font-size: 0.9rem;
}

.btns {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0.25em 0;
    align-items: center;
}

.btns a {
    width: 47%;
}

.layout-nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
}

.layout-nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    margin: 0 1em;
    font-size: 1rem;
}

.layout-nav a span {
    margin-left: 0.25em;
    font-size: 1.5rem;
    position: relative;
    top: 6px;
}

.layout-nav a:hover {
    border-bottom: 2px solid var(--primary-color);
}