.photos-container {
    width: 100%;
    padding: 1em 0;
    margin-bottom: 3em;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 0.7em;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.photos-container p {
    color: var(--text);
    font-size: 1rem;
    font-weight: 500;
}