.signup {
    width: 50%; 
    margin: 0.5em auto;
    padding: 0 2em;
    flex-direction: column;
}

.signup h2 {
    text-align: left;
    margin-bottom: 0.6em;
    font-size: 1.9rem;
    color: var(--heading);
    font-weight: 500;
}