@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #2bafc7;
  --secondary-color: white;
  --heading: #120d26;
  --text: #747688;
  --border: #d3d1d8;
}

.flex {
  display: flex;
}

.padding {
  padding: 0 3em;
}

.border {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 2em;
  text-align: center;
  margin: 1em 0;
}

.h2 {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--heading);
  margin: 0.25em 0;
}

.p {
  font-weight: 400;
  color: var(--text);
  font-size: 0.95rem;
  margin-bottom: 0.65em;
}

.profile-form {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 1em;
  border: 1px solid var(--border);
  border-radius: 12px;
  font-size: 0.9rem;
  outline: none;
}

/* login + signup css */
.login {
  width: 50%;
  margin: 2em auto;
  padding: 0 2em;
  flex-direction: column;
}

.login h2 {
  text-align: left;
  margin-bottom: 0.5em;
  font-size: 1.9rem;
  color: var(--heading);
  font-weight: 500;
}

form {
  flex-direction: column;
  gap: 1.2em;
}

.input-group {
  position: relative;
  align-items: center;
  border: 1px solid #e4dfdf;
  border-radius: 12px;
  padding-left: 2.5em;
}

.input-group input {
  flex-grow: 1;
  padding: 0.7em 1.5em 0.7em 0;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 0.9rem;
  color: var(--heading);
}

.input-group svg {
  position: absolute;
  left: 10px;
  color: var(--text);
  font-size: 1.2rem;
}

.input-group div {
  position: absolute;
  right: 40px;
  bottom: 29px;
  color: var(--text);
  cursor: pointer;
}
